/* EX1) Write a selector to target the h1 in jumbotron
EX2) Write a selector to target every children of the navbar
EX3) Write a selector to target the "continue reading..." inside the jumbotron
EX4) Write a selector to target the first blogpost
EX5) Write a selector to target the "even" links in the navbar
EX6) Write a selector to target the last blog post
EX7) Write a selector to target all the li into the first ordered-list in the sidebar ( Archives )
EX8) Write a selector to target the second post author
EX9) Write a selector to target the "back to top" link     #### EXTRA Try doing it without targeting the footer element directly
EX10) Write a selector to target the footer */


h1{
    color: aqua;
}

nav a{
    text-transform: uppercase; 
}

.jumbotron a{
    text-transform: lowercase;
}

.blog-post:first-of-type{
    border:solid;
    border-color: aqua;
}

.blog-post:last-of-type{
    border:dotted;
    border-color: red;
}

 aside div ol:first-of-type{
    text-align: end;
}

.blog-post:nth-child(3) p:first-of-type a:first-child {
     color: red;
     text-transform:capitalize;
}

footer{
    color: red;
    margin: auto;
    position:absolute;
}
footer p:last-of-type a:last-of-type{
    color: green;
}